<!---Infosys innovation Team-->
<div ng-controller="TestExpressionController as testEctrl" class="row">
   <div ng-show="showStepOne">
        <div class="row">
            <div class="col col-lg-offset-0">
                <label class="label label-info">
                    For the Connection Type
                </label>
                <select ng-model="selTestConnectionID" ng-options="item.TestConnetionID as item.TestConnectionName for item in testConnectionTypes"></select>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-offset-5">
                <button id="btnSubmitStepOne" ng-click="nextStep()" class="btn btn-dcyan"> Next </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="count in counterConditions" ng-show="showStepTwo">
                       


                <div class="col col-lg-offset-0">
                     Select the Table :
                    <select ng-model="selTestTableID" ng-options="item.TestTableID as item.TestTableName for item in testTables"></select>
                </div>
                <div class="col col-lg-offset-1">
                     For the Column :
                    <select ng-model="selTestColumnID" ng-options="item.TestColumnID as item.TestColumnName for item in testColumns"></select>
                     Where It should be : <select ng-model="selTestOperandID" ng-options="item.TestOperandID as item.TestOperandName for item in testOperands"></select>
                </div>

                <div class="col col-lg-offset-1">
                    <label class="label label-info">
                       Compare with this Value :
                    </label>
                    <input type="text" ng-model="checkthisValue" />

                </div>
            </div>
             AND OR CONDITION MAY BE : <select ng-model="selTestAndOrID" ng-options="item.lexicalToken as item.lexicalToken for item in testLogicals"></select>
            <button id="btnAddLogicalCondition" class="btn btn-green"> Add </button>
               
    </div>
    <div class="row">
        <div ng-show="showComplexExpression" class="col col-lg-offset-2">
            Generated Expression
            <input type="text" max="1000" ng-model="complexExression" value="tableName.ColumnName >|<|==|!= somvalue|tableName.ColumnName OR|AND|==|Equal tableName.ColumnName >|<|==|!= somvalue|tableName.ColumnName" />
        </div>
    </div>
    
    <div class="row">
        <div class="col col-lg-offset-5">
            <button id="btnSubmitStepTwo" class="btn btn-dcyan"> Generate Script </button>
        </div>
    </div>
    
    




</div>