<!---Infosys innovation Team-->
<div ng-controller="TestExpressionController as testEctrl" class="row">
    <div ng-show="showStepOne">
        <div class="row">
            <div class="col col-lg-offset-0">
                <label>
                    For the Connection Type
                </label>
                <select ng-model="selTestConnectionID" ng-options="item.TestConnectionID as item.TestConnectionName for item in testConnectionsAll"></select>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-offset-3">
                <button id="btnSubmitStepOne" ng-click="nextStep()" class="btn btn-dcyan"> Next </button>
            </div>
        </div>
    </div>
    <div ng-show="showStepTwo" class="row">
        
        <button id="btnUpdateDataSource" ng-click="addDataSource()" class="btn btn-danger"> Update Data Source </button>
            <div ng-repeat="count in counterConditions">

                <div class="col col-lg-offset-0">
                    <input ng-model="count.chkRemoved" type="checkbox" value="Remove" title="Remove"/> 
                    Select the Table :
                    <select ng-model="selectedTableName" ng-change="loadColumns(selectedTableName)" ng-options="item.TestTableName as item.TestTableName for item in testTables"></select>
                </div>
                <div class="col col-lg-offset-0">
                    For the Column :
                    <select ng-model="count.selTestColumnID" ng-options="item.TestColumnID as item.TestColumnName for item in count.testColumns"></select>
                    Where It should be : <select ng-model="count.selTestOperandID" ng-options="item.Operand as item.Operand for item in testOperands"></select> <input type="text" value="Enter any Alpha Numeric Value" ng-model="count.checkthisValue" />

                </div>
                <br />
                <br />

            </div>

            <br />

            FOR "AND OR"  CONDITION REPEAT ABOVE PROCESS : <select ng-model="count.selTestAndOrID" ng-options="item.lexicalToken as item.lexicalToken for item in testLogicals"></select>
            <button id="btnAddLogicalCondition" ng-click="addCondition()" class="btn btn-green"> Add Another Condition </button>
            <button id="btnSubmitStepTwo" ng-click="generateScript(counterConditions)" class="btn btn-dcyan"> Generate Script </button>
     
    </div>


    <div class="row">
        <div ng-show="showComplexExpression" class="col col-lg-offset-2">
            Generated Expression
            <input type="text" max="1000" ng-model="complexExression" value="tableName.ColumnName >|<|==|!= somvalue|tableName.ColumnName OR|AND|==|Equal tableName.ColumnName >|<|==|!= somvalue|tableName.ColumnName" />
        </div>
    </div>








</div>