<div ng-controller="DemoController" class="row">
    <div class="col col-md-offset-1">

        <div class="widget widget-content">

            <table class="table table-condensed">
                <tr>
                    <td>
                        <b>Enter Email (Preferred Business Email) </b> <br />

                        <!---- LoginName: $scope.txtUserID,
                         PasswordHash: $scope.txtPwd,
                         EmailAddress: $scope.emailAddress,
                         PhoneNumber: $scope.phoneNumber,
                         FirstName: $scope.firstName,
                         LastName: $scope.lastName,
                         CompanyName: $scope.companyName,
                         CompanyWebSite: $scope.companyWebSite -->

                        <input required="required" ng-model="emailAddress" type="email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Enter Company Name</b> <br />
                        <input required="required" id="txCompanyName" ng-model="companyName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Enter Company WebSite</b> <br />
                        <input required="required" id="txCompanyWeb" ng-model="companyWebsite" type="text" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>First Name</b> <br />
                        <input required="required" ng-model="firstName" type="text" /> <br />
                        <b>Last Name</b> <br />
                        <input required="required" ng-model="lastName" type="text" />

                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Contact Number</b> <br />
                        <input required="required" ng-model="phoneNumber" type="text" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Enter User ID</b> <br />
                        <input required="required" ng-model="loginName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Enter Password </b> <br />
                        <input required="required" title="Pwd" id="txtPwd" ng-model="txtPwd" type="password" />
                    </td>

                </tr>

                <tr>
                    <td>
                        <b>Confirm Password </b> <br />
                        <input required="required" ng-model="txtConfPwd" type="password" />
                    </td>

                </tr>

                <tr>
                    <td>
                        <button id="btnSaveUser" ng-click="addUserInformation()" class="btn btn-primary"> Submit  </button>
                        <button id="btnCancelUser" class="btn btn-danger"> Cancel </button>
                    </td>

                </tr>


            </table>

        </div>

    </div>



</div>